name: ci
on:
  push:
    branches:
      - '*'
  pull_request:

env:
  NODE_VERSION: '22'

permissions:
  contents: read

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'npm'

      - run: npm ci

      - run: npx playwright install --with-deps chromium

      - run: npm run build
      - run: npm run check
      - run: npm run ls-lint
      - run: npm run test
      - run: xvfb-run npm run test:e2e:ci
